.box {
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 23px;
}

.form {
    width: 235px;
    height: 185px;
    padding: 11px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.label {
    display: flex;
    flex-direction: column;
    width: 210px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 21px;
}

.input,
.number {
    height: 25px;
    margin-top: 3px;
    font-weight: 400;
    font-size: 13px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(206, 205, 205);
}

.input,
.number:focus {
    border: 2px solid black;
}

.btn {
    padding: 3px 8px 3px 8px;
    font-weight: 400;
    font-size: 11px;
    border-radius: 5px;
    border: 1px solid rgb(206, 205, 205);
    background-color: #fff;
}

.btn:focus {
    background-color: blue;
}